In [1]:
import sys
sys.path.append("..")  # sobe um nível até a raiz

import _setup

2026-02-13 12:34:28,158 | INFO | Project root detected: C:\Users\User\Desktop\covid-19\data-science-machine-learning-for-covid-19-using-python-project-6
2026-02-13 12:34:28,160 | INFO | SRC detected at: C:\Users\User\Desktop\covid-19\data-science-machine-learning-for-covid-19-using-python-project-6\src
2026-02-13 12:34:28,162 | INFO | Added to PYTHONPATH: C:\Users\User\Desktop\covid-19\data-science-machine-learning-for-covid-19-using-python-project-6\src
2026-02-13 12:34:28,164 | INFO | Added to PYTHONPATH: C:\Users\User\Desktop\covid-19\data-science-machine-learning-for-covid-19-using-python-project-6\src\ingestion
2026-02-13 12:34:28,165 | INFO | PYTHONPATH successfully configured.

# IMPORTS

In [2]:
# =====================================================
# JUPYTER CONFIGURATION
# =====================================================
# Ativa renderização inline de gráficos (somente Jupyter)
try:
    get_ipython().run_line_magic("matplotlib", "inline")
except NameError:
    # Caso não esteja rodando em Jupyter
    pass


# =====================================================
# STANDARD LIBRARIES (Built-in)
# =====================================================
import datetime as dt
import warnings


# =====================================================
# THIRD-PARTY LIBRARIES
# =====================================================
try:
    import numpy as np
    import pandas as pd
    import matplotlib.pyplot as plt
    import seaborn as sns
except ImportError as e:
    raise ImportError(
        "Erro ao importar bibliotecas básicas. "
        "Verifique se numpy, pandas, matplotlib e seaborn estão instalados."
    ) from e


# =====================================================
# PROPHET (Time Series Forecasting)
# =====================================================
try:
    from prophet.diagnostics import cross_validation, performance_metrics
except ImportError as e:
    raise ImportError(
        "Prophet não está instalado. Execute: pip install prophet"
    ) from e


# =====================================================
# OPTIONAL: Plotly (Interactive Plots)
# =====================================================
try:
    import plotly
except ImportError:
    print("Aviso: Plotly não está instalado. Gráficos interativos não funcionarão.")


# =====================================================
# GLOBAL CONFIGURATION
# =====================================================
warnings.filterwarnings("ignore")
sns.set_theme(style="whitegrid")

# LOADING DATA

In [3]:
from ingestion.covid_data_loader import CovidDataLoader
GITHUB_API = (
    "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/"
    "csse_covid_19_data/csse_covid_19_time_series/"
    "time_series_covid19_confirmed_global.csv"
)

loader = CovidDataLoader(GITHUB_API)

loader.load()

loader.head()

2026-02-13 12:34:35,673 | INFO | Carregando dados da URL...
2026-02-13 12:34:36,055 | INFO | Dados carregados com sucesso.

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

# Filering the data to include only India

In [5]:
df_india = loader.filter_by_country("India")

df_india.head()

2026-02-13 12:34:53,394 | INFO | Filtro aplicado para país: India

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
148,NaN,India,20.593684,78.96288,0,0,0,0,0,0,...,44687837,44688105,44688388,44688722,44689046,44689327,44689593,44689919,44690298,44690738

# Converting the above DataFrame to the format accepted by FB Prophet

In [ ]:
df_dict = df.head(1).to_dict(orient='records')
df_dict[0]
key_values = []

for key, value in df_dict[0].itemd():
    key_values.append([key.values])

df_new = pdf.DataFrame(key_values, columns=['ds','y'])
df_new= df_new[5:]
df_new.head()